<!-- Footer -->

 
    
   
<footer class=" bay text-center text-white col-sm-10">
  <!-- Grid container -->
 
   
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
     
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa fa-facebook-square" aria-hidden="true"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram" aria-hidden="true"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      <!-- Github -->
    
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
   
    <!-- Section: Form -->

    <!-- Section: Text -->
    
    <!-- Section: Text -->

    <!-- Section: Links -->
    
    <!-- Section: Links -->
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(2, 9, 49, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">webport360.com</a>
  </div>
  <!-- Copyright -->

</footer>

<!-- Footer -->