<app-navbar></app-navbar>

<section>
           
    
    <div class="container">
    
        <div class="row">
            <div class="col-sm-6">
            <div class="p-profile"></div>
            </div>
            <div class="col-sm-6">
                <div class="row mt-4 " >
               
                <img src="assets/img/about-banner.jpg"><br><br>
                
                <div class="col-md-12">
                <p class="me mt-4 text-justify">We are excited you are here.
                    At Thrive Consult we offer a personal service that focuses on setting realistic goals in an atmosphere of mutual respect. You will feel listened to without judgement, and we will 
                    take the time you need to have a clearer sense of what is most urgently needing attention in your life, no matter how complicated, confusing or disorienting your stresses may feel to you.
                   <br> I’m sure you’d agree that we all feel let down and disappointed when we are not listened to; yet the opposite is also true, in that something comes alive in us when we feel heard. 
                    You will feel listened to without judgement, and we will take the time you need to have a clearer sense of what is most urgently needing attention in your life    
                </p>
                <P>We’d like to introduce you to our principal listener, <strong>Adunola Olugboun</strong>.</P> 
               
                
          
         <img src="assets/img/Adunola.jpg" alt="" class="pull-left mr-3">
         
            <p class="me mt-4 text-justify">  Adunola is a Pastor in her denomination, as well as a professional Chaplain, and she is passionate about providing you with support by genuinely listening to you, whatever your concern. 
                Adunola’s many years of experience in her dual role as a Pastor and Chaplain has enabled her to become highly skilled in non-judgmental listening.<br><br> Consequently, she is ideally placed to help you find a way forward, particularly in times of crisis. She is excited to have the chance to listen to you and offer her support. 
                Although Adunola is based in Dublin, her reach is truly global, and she can work virtually with any of her clients who are not based locally.
                 Take advantage of our services which includes: <li>Marriage Counselling</li>
                    <li>Listening</li>
                    <li>Spiritual Listening</li>
                </p>
               
                <img src="assets/img/couplesr.jpg" alt="" class="pull-left mr-3">
                <p class="me mt-4 text-justify">
                    
                   <li><strong>Marriage Counselling</strong> </li>
                   What do marriage consultants do? Marriage counseling helps couples of all types recognize and resolve conflicts and improve their relationships.<br>
                    <br>Through marriage counseling, you can make thoughtful decisions about rebuilding and strengthening your relationship or going your separate ways.
                    
                </p>
                
                <img src="assets/img/listngs.jpg" alt="" class="pull-left mr-3">
                <p class="me mt-4 text-justify">
                    <li><strong>Listenings</strong> </li>
                    Listening is the ability to accurately receive and interpret messages in the communication process. Listening is key to all effective communication.<br> 
                    <br>Without the ability to listen effectively, messages are easily misunderstood. ... Effective listening is a skill that underpins all positive human relationships.
                    
                </p>
                <img src="assets/img/spirit.jpg" alt="" class="pull-left mr-3">
                <p class="me mt-4 text-justify">
                    <li><strong>Spiritual Listening</strong> </li>
                    Spiritual listening leads to new understanding as we connect to each other at the heart level and discover common ground and new possibilities. <br><br>To listen without judgment, open, expectant, eager to hear, we cannot be thinking about our response, or what we are going to do next. We must learn to.
                    Spiritual listening embodies all of our senses as we offer ourselves to another freely and without expectation, providing the opening for deep communion. </p>
            </div>
          </div>
        
</div>

</div>



</div>

</section>
