<header>
  <div class="container">
    <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
     <ul>
       <li class="p-hamburger">
<span><h1>Thrive Consult</h1></span>
<span></span>
       </li>
            </ul>
      <ul>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
        </li>
      <li>
        <a [routerLink]="['/about-us']">About Us</a>
      </li>
     <li> 
       <a [routerLink]="['/book-service']">Our Services</a>
    </li>
    <li>
      <a [routerLink]="['/contact-us']">Contact Us</a>
    </li>
  </ul>
    </div>
  
  </div>
</header>