

<app-navbar></app-navbar>
<section>
  <div class="container">
        
    <div class="col-sm-12">
      <div class=" head text-white text-center bg-secondary col-sm-6"><h1>Payment for Marriage Counselling Booking</h1></div>
      <div class=" made col-sm-12">
      <div class="card mb-4  ">
        <img src="assets/img/couples.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">MARRIAGE COUNSELLING BOOKING PAGE </h3>
          <p class="card-text text-justify">You are now set to complete your booking by clicking the PayPal link below. you will be contacted as soon as payment is confirmed. 
            Should there be any transaction issues please login your report on our contact form page.<br>Thank you for your patronage.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">You will be contacted after confirmation of a successful payment </li>
          
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Complete your booking using paypal link below</a>
         
        </div>
        <div >
          
                  <div id="PayPaLlinks"></div>
              
              </div>
      </div>
    </div>

    
           
        </div>
        
      </div>
      
</section>
