.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
  background-color: rgb(207, 216, 247);
 
 
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: rgb(7, 2, 53);
  color: bisque;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
