.p-profile{
    background: url(/assets/img/cms.jpg);
    height: 400px;
    width: 75%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;
  
   
}
.p-tag{
    background: #26658a;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}
.p-des{
    color: #0c0a0a;
    width: 80%;
}
img{
    margin-bottom: 10px;
}
.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}
.form-control.ng-touched.ng-valid{
    border: 1px solid green;
}
p::first-letter{
    font-size: 200%;
    color:  #26658a;
}